<div class="form-container">



  <mat-form-field class="user">
    <mat-label>First name</mat-label>
    <input matInput
      placeholder="John Doe"
      [formControl]="user"
      (blur)="userErrorMessage()"
      required>
      @if (user.invalid) {
        <mat-error>{{errorMessage}}</mat-error>
      }
  </mat-form-field>

  <mat-form-field class="email">

    <mat-label>Enter your email</mat-label>
    <input matInput
           placeholder="pat@example.com"
           [formControl]="email"
           (blur)="updateErrorMessage()"
           required>
    @if (email.invalid) {
      <mat-error>{{errorMessage2}}</mat-error>
    }

  </mat-form-field>
</div>
